body 
{
	background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.start_page 
{
	padding: 90px 100px;
	
}

.textContainer 
{ 
    text-align: center;
}

.inside 
{
	height: 100%;
	margin: 0px;
}

.img-responsive 
{
	margin: 0 auto;
}

.ileft 
{
	float: left;
}

.iright 
{
	float: right;
}

.icenter
{
	float: center;
}

.row{
    overflow: hidden; 
}

.border {
	border: solid;
}

.normal {
  font-size: 20px;
}

.row-padded {
  padding: 35px;
  background-color: #F7F7F7;
  border: 1px solid #DDD;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.vcenter {
    display: flex;
	justify-content:center;
	align-content:center;
	flex-direction:column; / column | row /
}

.active{
	z-index:99;
}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 500px; 
    height: 300px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}


/*Menu*/

#navbar li ul {    
    position:absolute;
    left:0;
    top:100%;
    width:100%;
	background-color: #222222;
	z-index: 100;
}

#navbar ul {
    list-style-type:none;
    margin:0;
    padding:0;
	font-size: 1.5vw;
	vertical-align: middle;
	text-align: center;
}

#navbar ul li {
    display:inline-block;
    position:relative;
	z-index: 100;
	
}

#navbar li li {
    position:relative;
    margin:0;
    display:block;
	z-index: 100;
}

ul.sub-menu {
    display:none;
}

